* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.65;    /* 正文 */
  line-height: 1.4;     /* 标题 */

}

body {
  background: #000;
  color: #e0e0e0;    /* 柔和、不过亮、不累眼 */
}

/* 标题更亮 */
h1, h2, h3, h4 {
  color: #ffffff;
  line-height: 1.35;
}

/* 次级文字 */
.small-text, .article-paragraph {
  color: #b0b0b0;
}

img {
  width: 100%;
  /*border-radius: 12px;*/
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.section {
  padding: 60px 0;
}

.section-divider {
  width: 100%;
  max-width: 1200px;         /* 限制最大宽度 = 内容宽度 */
  height: 1px;
  margin: 32px auto;         /* 自动居中 + 区块间距缩短 */
  background: rgba(255, 255, 255, 0.12);  /* 比之前更亮一点 */
}
